*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary-color: #ff4e36;
  --primary-shadow: #c23826;
  --text-dark: #2d0500;
  --body-bg: #fef8ef;
  --footer-bg: #ffc691;
  --header-font-stack: Anton, Arial, Helvetica, sans-serif;
  --body-font-stack: iaWriter, "Courier New", Courier, monospace;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  background: var(--body-bg);
  color: var(--text-dark);
  font-family: iaWriter, "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

a.textLink {
  color: var(--text-dark);
  text-decoration: underline;
}

@font-face {
  font-family: "Anton";
  src: url("./assets/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "iaWriter";
  src: url("./assets/fonts/iAWriterDuospace-Regular.otf") format("opentype");
}

.headerText {
  font-family: var(--header-font-stack);
  visibility: hidden;
}

.bodyText {
  font-family: var(--body-font-stack);
}

.hero {
  width: 100%;
  background-color: #ff4e36;
  color: #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero .title {
  margin: 60px 0;
  font-size: 70px;
}

.hero .heroText {
  margin: 80px 0;
  text-align: center;
  font-size: 1.5625rem;
}

.hero .timer-container {
  font-size: 18vw;
  font-size: 320px;
  display: flex;
  flex-direction: row;
}

.digit {
  background-color: #fef8ef;
  color: #000000;
  font-family: Anton, Arial, Helvetica, sans-serif;
  font-size: 18vw;
  /* padding: 0px 20px; */
  width: 15vw;
  max-width: 350px;
  font-weight: bold;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 350px;
  box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.3);
}

.colon {
  font-family: Anton, Arial, Helvetica, sans-serif;
  margin: 0 20px;
  color: #fef8ef;
  font-size: 18vw;
  height: 18vw;
  display: flex; /* Convert the container into a flex container */
  align-items: center; /* Vertically align the content (colon) in the center */
  justify-content: center;
}

.minutes {
  display: flex;
  gap: 10px;
}

.seconds {
  display: flex;
  gap: 10px;
}

.content {
  width: min(777px, 100%);
  margin-inline: auto;
  padding-inline: 16px;
}

.buttons-container {
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  gap: 180px;
  justify-content: center;
  align-items: center;
}

.info-container {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.info-container .info-text {
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 145px;
}

.sources {
  list-style: asterisks;
  margin-bottom: 30px;
}

.sources.content li {
  margin-inline: auto;
  font-size: 1rem;
  margin-bottom: 20px;
}

.info-container .content {
  font-size: 2.625rem;
  line-height: 1.35;
  margin-bottom: 30px;
}

.info-container .content p {
  margin-bottom: 1em;
}

.round-button-wrapper {
  --size: min(366px, 80vw);
  width: var(--size);
  height: var(--size);
  position: relative;
}

.round-button-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--primary-shadow);
}

.roundButton {
  height: 100%;
  transform: rotate(-4deg);
  border-radius: 50%;
  background: var(--primary-color);
  color: #fef8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Anton;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
}

.vipps {
  position: absolute;
  top: 77%;
  left: 24%;
  color: var(--body-bg);
  font-size: 25px;
}

.rect-button-wrapper {
  position: relative;
  isolation: isolate;
  width: 427px;
  height: 314px;
}

.rect-button-bg {
  position: absolute;
  inset: 0;
  background-color: var(--primary-shadow);
  transform: rotate(2deg);
}

.rect-button {
  height: 100%;
  width: 100%;
  transform: rotate(6deg);
  color: #fef8ef;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);

  background: #ff4e36;
  font-size: 32px;
  text-align: center;
}

.rect-button:hover,
.roundButton:hover {
  background-color: #ff6b4f;
}

footer {
  background: var(--footer-bg);
  padding: 45px 0 196px;
}

footer .content {
  font-size: 1rem;
}

.image-grid-header {
  font-family: var(--header-font-stack);
  font-size: 3rem;
  margin-top: 64px;
}

.image-grid {
  display: grid;
  gap: 40px;
  margin-bottom: 64px;
}

.image-wrapper a {
  color: inherit;
  text-decoration: underline;
  font-size: 1.2rem;
}

.image-wrapper a:visited {
  color: inherit;
}

.image-grid img {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

.back-link {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: underline;
  margin-bottom: 64px;
  display: inline-block;
}

@counter-style asterisks {
  system: symbolic;
  symbols: "*";
  suffix: " ";
}

@media (max-width: 480px) {
  .reddbarna {
    bottom: 10px;
  }

  .hero .title {
    margin: 60px 0;
    font-size: 40px;
  }

  .text-container {
    max-width: 90%;
    margin-bottom: 50px;
  }

  .timer-container {
    top: 20%;
  }

  .info-container {
    padding-top: 50px;
  }

  .buttons-container {
    flex-direction: column;
    gap: 50px;
  }

  .round-button-wrapper,
  .rect-button-wrapper {
    margin-inline: auto;
  }

  .rect-button-wrapper {
    width: 85%;
    height: 270px;
  }

  .colon {
    margin: 0 5px;
  }
  .info-container .content {
    font-size: 1.5rem;
  }

  .sources {
    margin: 30px;
    max-width: 90vw;
  }

  .hero .heroText {
    text-align: center;
    font-size: 1.4rem;
  }
}

.desktop-only {
  display: none;
}

@media (min-width: 560px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }

  .desktop-only {
    display: revert;
  }

  .mobile-only {
    display: none;
  }
}
